.fa-player {
  font-size: 4em;
  cursor: pointer;
}

.fa-opponent {
  font-size: 2em;
}

.fa-player:focus, .fa-opponent:focus {
  outline: 0px;
}

.score {
    font-size: 1em;
    margin-top: 1em;
    margin-left: 1em;
}

.clear_scores {
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.selectedWeapon {
  color: background;
}

.winner {
  color: green;
}
