<div>
    <mat-toolbar>
        <h2>{{ 'game.opponent' | translate }}</h2>
        <span class="fill-remaining-space"></span>
        <button mat-fab color="primary" [ngClass]="{'winner':(playerResult === 'LOST')}" class="score">{{ opponentScore }}</button>
    </mat-toolbar>
    <mat-grid-list flex cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <i [ngClass]="{'selectedWeapon':(opponentWeapon === 1)}" class="fa fa-hand-rock-o"></i>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <i [ngClass]="{'selectedWeapon':(opponentWeapon === 2)}" class="fa fa-hand-paper-o"></i>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <i [ngClass]="{'selectedWeapon':(opponentWeapon === 3)}" class="fa fa-hand-scissors-o"></i>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<br /><br /><br />
<div>
    <mat-toolbar>
        <h2>{{ 'game.me' | translate }}</h2>
        <span class="fill-remaining-space"></span>
        <button mat-fab color="primary" [ngClass]="{'winner':(playerResult === 'WIN')}" class="score">{{ playerScore }}</button>
    </mat-toolbar>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <i (click)="playerPickWeapon(1)" [ngClass]="{'selectedWeapon':(playerWeapon === 1)}" class="fa fa-player fa-hand-rock-o"></i>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <i (click)="playerPickWeapon(2)" [ngClass]="{'selectedWeapon':(playerWeapon === 2)}" class="fa fa-player fa-hand-paper-o"></i>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <i (click)="playerPickWeapon(3)" [ngClass]="{'selectedWeapon':(playerWeapon === 3)}" class="fa fa-player fa-hand-scissors-o"></i>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>