<mat-sidenav #sidenav mode="push" class="app-sidenav">
  <mat-toolbar color="primary">
    <!--future svg to go here-->
    <span class="toolbar-filler"></span>
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <a mat-list-item class="sidenav-link" [routerLink]="['/game']" (click)="sidenav.toggle()">
      <mat-icon mat-list-icon>gamepad</mat-icon>
      <span class="title" mat-line>{{ 'game.game' | translate }}</span>
      <span mat-line class="secondary">{{ 'game.play_game' | translate }}</span>
    </a>
    <a mat-list-item class="sidenav-link" [routerLink]="['/scores']" (click)="sidenav.toggle()">
      <mat-icon mat-list-icon>score</mat-icon>
      <span class="title" mat-line>{{ 'game.scores' | translate }}</span>
      <span mat-line class="secondary">{{ 'game.the_scores' | translate }}</span>
    </a>
  </mat-nav-list>
</mat-sidenav>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
    <mat-icon aria-label="Another menu" class="material-icons">menu</mat-icon>
  </button>
  <h1 class="component-title">
    <a class="title-link">{{ 'app.title' | translate }}</a>
  </h1>
</mat-toolbar>